#map { 
    height: 100vh; 
    width: 100vw;
}

.container-map {
    position: relative;
}

.card-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 16px;
    border-radius: 16px;
    width: 600px;
    text-align: center;
    z-index: 1000;
}

.card-map {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin-bottom: 50px;
    margin-right: 50px;
}

.card{
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}