canvas {
    display: block;
    vertical-align: bottom;
}
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(5, 99, 5);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  #content {
    position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
    width: fit-content;
  }

.card-hover {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-hover:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}